body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-color: #09F;
}

#input {
    color: #FFF;
    background-color: #000;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;
}

#input button {
    margin: 10px;
    float: right;
}

#clock {
    font-size: 20vw;
}

#clock-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

a:any-link {
    text-decoration: none;
    color: #FBB02D;
    font-weight: 900;
}

#name {
    font-weight: 800;
}